.task-container {
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    border-radius: 10px;
}

.task-container[data-background-color='High'] {
    background-color: rgba(230, 59, 59, 0.2);
}

.task-container[data-background-color='Medium'] {
    background-color: rgba(248, 229, 54, 0.2);
}

.task-container[data-background-color='Low'] {
    background-color: rgba(58, 240, 58, 0.2);
}

.title-status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.categories-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.status-task-button {
    border: 1px white solid;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.task-title {
    font-size: 20px;
}

.task-category {
    background-color: lightgray;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.delete-task-button {
    background-color: rgb(165, 95, 106);
}

